.netlify
/react-book/*
/week1/.vscode/*
/conf
/logs
app/*
!app/public/
app/public/*
!app/public/wp-content
app/public/wp-content/*
!app/public/wp-content/themes
app/public/wp-content/themes/*
!app/public/wp-content/themes/React2020
app/public/wp-content/themes/React2020/node_modules
!app/public/wp-content/themes/React2020-alt
app/public/wp-content/themes/React2020-alt/node_modules
week3/propsPractice/node_modules
week3/statePractice/node_modules
week3/simple-state-site/node_modules
week4/hooksPractice/counter/node_modules
week4/hooksPractice/scoreboard/node_modules
week4/hooksPractice/randomcat/node_modules
week4/post-reader-class/node_modules
week4/post-reader-hooks/node_modules
