.App {
	position: relative;
}

.App__login {
	border: 1px solid #ddd;
	padding: 30px;
	margin: 100px auto;
	max-width: 400px;
	box-shadow: 2px 5px 10px #e4e4e4;
}

.App__login h2 {
	text-align: center;
}

.App__login form .btn {
	display: inline-block;
	margin: 10px auto;
}

.calendar__container {
	margin: 30px auto 160px;
	max-width: 80%;
	min-width: 400px;
	height: 100%;
}

.calendar__header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.header__column {
	max-width: 60%;
}

.rbc-timeslot-group {
	border-bottom: none;
	min-height: 80px;
}

.rbc-time-column .rbc-timeslot-group {
	border-bottom: 1px solid #bdbdbd;
}

.rbc-time-column.past-day {
	background-color: rgba(45, 53, 150, 0.1);
}
.rbc-time-column.past-day .rbc-event {
	background-color: rgb(152, 177, 152) !important;
}

.rbc-time-column.rbc-today {
	background-color: #c0e4ff;
}

.rbc-current-time-indicator {
	height: 2px;
}

.rbc-day-slot .rbc-time-slot {
	border-top-color: #cecece;
}

.rbc-day-slot .rbc-events-container {
	margin-right: 3px;
}

.rbc-day-slot .rbc-event-label {
	margin-bottom: 3px;
}

.rbc-day-slot .rbc-event-content {
	font-size: 14px;
	font-weight: bold;
}

.rbc-toolbar {
	margin-bottom: 0;
}

.rbc-toolbar .rbc-btn-group {
	display: none;
}

.rbc-toolbar .rbc-toolbar-label {
	background-color: rgba(18, 93, 158, 0.7);
	color: white;
	font-weight: bold;
	padding: 10px;
}

.btn {
	display: flex;
	overflow: hidden;
	min-width: 100px;
	margin: 10px;
	padding: 12px 12px;
	cursor: pointer;
	user-select: none;
	transition: all 150ms linear;
	text-align: center;
	white-space: nowrap;
	text-decoration: none !important;
	text-transform: none;
	text-transform: capitalize;
	color: #fff;
	background: #508dbc;
	border: 0 none;
	border-radius: 36px;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.3;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	justify-content: center;
	align-items: center;
	flex: 0 0 160px;
	box-shadow: 2px 5px 10px #e4e4e4;
}

.btn:hover {
	transition: all 150ms linear;
	opacity: 0.85;
}

.btn:active {
	transition: all 150ms linear;
	opacity: 0.75;
}

.btn:focus {
	outline: 1px dotted #959595;
	outline-offset: -4px;
}

.btn--logout {
	margin-left: auto;
}

.btn--delete {
	background-color: #ab0500;
}

.btn--small {
	padding: 5px 8px;
	margin: 0;
	min-width: auto;
	border-radius: 15px;
}

.btn--linklike {
	background-color: transparent;
	text-decoration: underline !important;
	color: black;
	border: 0;
	padding: 10px;
	margin: 0;
	display: inline-block;
	box-shadow: none;
}

.btn--linklike:hover,
.btn--linklike:focus {
	text-decoration: none !important;
}

form p {
	display: flex;
	align-items: center;
}

form label {
	display: inline-block;
	width: 100px;
}

form input {
	border: 1px solid #ddd;
	border-radius: none;
	padding: 5px;
	font-size: 16px;
	width: calc(100% - 100px);
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	background-color: white;
	max-width: 50%;
	max-height: 50%;
	padding: 0 30px 30px;
	border-radius: 4px;
	position: relative;
	min-width: 300px;
	min-height: 200px;
}

.modal__close {
	position: absolute;
	top: 10px;
	right: 10px;
}

.modal__title,
.modal__subtitle {
	text-align: center;
}

.modal__title.warning {
	color: #88141f;
	margin-top: 60px;
}

.modal__content .container--flex {
	display: flex;
	align-items: space-between;
}

.modal__content .container--center {
	text-align: center;
}

.modal__content .container--center .btn {
	display: block;
	margin: 0 auto;
}

.modal__content .delete-confirmation {
	color: #88141f;
}

.userslots {
	border: 1px solid #ddd;
	padding: 10px;
	min-height: 130px;
}

.userslots p {
	margin-top: 0;
}

.userslots__remaining {
	font-weight: 900;
}

.userslots__list {
	margin: 0;
	min-height: 60px;
	padding: 0;
	min-width: 250px;
}

.userslots__list .userslots__item {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.userslots__list .userslots__item span {
	display: inline-block;
	padding-right: 5px;
}

.userslots__list .userslots__item.expired-item span {
	text-decoration: line-through;
}

.userslots__list .userslots__item span.day {
	min-width: 40px;
}

.userslots__list .userslots__item span.date {
	min-width: 65px;
}

.userslots__list .userslots__item span.times {
	min-width: 150px;
}

.userslots__list .no-slots {
	list-style-type: none;
	font-size: 12px;
}
