@import url('https://fonts.googleapis.com/css?family=Fira + Sans');
@import url('https://fonts.googleapis.com/css?family=IBM + Plex + Serif');

$font-sans: 'Fira Sans', sans-serif;
$font-serif: 'IBM Plex Serif', serif;

$color-white: #fff;
$color-black: #000;
$color-blue: #3b5875;
